@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  flex-direction: column;
  color: white;
  & img {
    width: 39%;
    height: 50%;
    border-radius: 50%;
    object-fit: contain;
  }
  
  &__blur {
    position: absolute;
    z-index: 1;
    opacity: 0.4;
    filter: blur(10px);
    transform: translateY(10px) scale(1.25);
  }

  & svg {
    position: relative;
    z-index: 0;
  }
  & h6 {
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5px ;
    letter-spacing: 1px;
  }
}
