.github {
    background-color: rgb(97,218,251);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 300px;
    height: 40px;
    transform: translateY(0) rotate(45deg);
    top: 50px;
    right: -70px;
    font-weight: 700 ;
    cursor: pointer ;
    transition: .3s ease-out ;
}
.github:hover {
    background-color: rgb(32, 164, 200);
}
.github_notvisible {
    transform: translateY(-400px) rotate(45deg);
}

@media only screen and (max-width: 425px) {
    .github {
        font-size: .8rem ;
        height: 30px ;
        width: 200px ;
        top: 30px;
        right: -50px;    
    }
}