@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@800&display=swap');


.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    padding : 0 12vw ;
    height: 100vh;
    overflow-y: scroll;
}

.heading {
    font-size: 3rem ;
}

.about_me h1 , .about_me h2 {
    text-transform: uppercase;
    font-weight: bold;
}
.about_me h1 {
    font-family: 'Lobster', cursive;
    font-size: 4.5rem ;
    margin-bottom: 20px;
}

.about_me h2 {
    color: rgb(97,218,251);
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 6px ;
}

.about_me_headings {
    height: 100vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about_me_services_containers {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 40px;
}

.about_me_services_containers > div {
    flex: .3 ;
    border: 1px solid rgb(97,218,251) ;
    text-align: center;
    padding: 20px ;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 200px ;
}

.about_me_services_containers > div > h3 {
    margin-bottom: 5px; 

}


@media only screen and (max-width: 768px){
    .about {
        padding: 0 6vw ;
    }
    .about_me_services_containers > div {
        margin-bottom: 20px;
        max-width: 500px;
    }
    .about_me_services_containers {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .about_me_services_containers:nth-child(2) {
        padding-bottom: 16vh ;
    }
    .about_me_headings {
        height: auto ;
        padding-top: 12vh;
        text-align: center;
    }
    .about_me h2 {
        margin-bottom: 20px;
        font-size: 1.3rem ;
    }
    .about_me h1 {
        font-size: 3rem;
    }
}
@media only screen and (max-width: 425px){
    .contact{
        padding: 8vh 3vw ;
    }
}