.contact {
    height: 100%;
    padding: 4vh 6vw ;
}
.contact_headings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 6vw ;
    width: calc(100vw - 12vw);
}
.contact_headings > h1 {
    font-family: 'Lobster', cursive;
    font-size: 4.5rem ;
    margin-bottom: 20px;
}

.contact_headings > h4 {
    font-weight: 100 ;
}
.contact_form {
    margin-top: 70px ;
}
.contact .contact_form .css-e4w4as-MuiFormLabel-root-MuiInputLabel-root {
    color: white 
}
.contact .contact_form .css-10botns-MuiInputBase-input-MuiFilledInput-input {
    color: white;
}
.contact_form .css-15mnzpi-MuiInputBase-root-MuiFilledInput-root:before {
    border-bottom: 1px solid rgb(97,218,251);
}

.contact .css-15mnzpi-MuiInputBase-root-MuiFilledInput-root:after {
    border-bottom: 2px solid rgb(97,218,251);
}