.dock {
  position: fixed;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  align-items: flex-end;
  height: 58px;
  display: flex;
  padding: 10px;
  padding-bottom: 6px;
  gap: 12px;
  background-color: rgba(0, 0, 0, 0.92);
  will-change: contents;
  box-sizing: content-box;
  border-radius: 12px;
  transform-origin: center bottom;
}
@media only screen and (max-width: 425px) {
  .dock {
      bottom: 0px ;
      border-radius: 0px ;
      padding-bottom: 2px ;
      background-color: transparent ;
  }
  .dock::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100vw;
    left: 50%;
    z-index: -1;
    transform: translate3d(-50%,0,0);
    background-color: rgb(37, 37, 37);
    bottom: -2px ;
  }
}
